<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>646352476542-s0e6tkl1plavjutc87o6b1enmv4mdn6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646352476542-s0e6tkl1plavjutc87o6b1enmv4mdn6j</string>
	<key>API_KEY</key>
	<string>AIzaSyBam2_KnzlCbo1pEqjwi0pOg-_LoqR8aCE</string>
	<key>GCM_SENDER_ID</key>
	<string>646352476542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flatmates.Terno</string>
	<key>PROJECT_ID</key>
	<string>project-9055015523885650113</string>
	<key>STORAGE_BUCKET</key>
	<string>project-9055015523885650113.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:646352476542:ios:765f031b82b46036</string>
	<key>DATABASE_URL</key>
	<string>https://project-9055015523885650113.firebaseio.com</string>
</dict>
</plist>